---
import { allLaunchers, getDocsGame, type DocsGameId } from '../../data/docsGames'
import SupportBadge from './SupportBadge.astro'

interface Props {
    game: DocsGameId
}

const game = getDocsGame(Astro.props.game)
const supportedLaunchers = new Set(game.launchers)
---

<table class="docs-data-table">
    <thead>
        <tr>
            <th>Launcher</th>
            <th>Support</th>
        </tr>
    </thead>
    <tbody>
        {
            allLaunchers.map((launcher) => (
                <tr>
                    <td>{launcher}</td>
                    <td>
                        <SupportBadge supported={supportedLaunchers.has(launcher)} />
                    </td>
                </tr>
            ))
        }
    </tbody>
</table>
